!/build/*

/.git/*
/.github/*
/.vscode/*

/coverage/*
/examples/*
/images/*
/node_modules/*
/scripts/*

.DS_Store
.browserslistrc
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.nvmrc
.prettierignore
.prettierrc.json

jest.config.ts
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.json
