/examples/build/*
/node_modules/*
/coverage/*
/build/*
/.vscode/*

*.png
*.jpg
*.jpeg
*.gif
*.svg

npm-debug.log*

.DS_Store
.eslintignore
.prettierignore
.gitignore
.gitattributes
.npmignore
.nvmrc
.browserslistrc
